.battle-tracker{
	margin: 0 auto;
	max-width: 80%;
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
	"initiative initiative"
	"characters monsters"
	"save save";
	grid-template-columns: 1fr 1fr;

	.initiative-order {
		grid-area: initiative;

		ul {
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-flow: row;
			width: 28rem;

			.dead {
				color: $brown;
			}

			.healed {
				color: $green;
			}

			.revived {
				color: $blue;
			}

			li {
				padding: 5px;
				background: rgba( 0,0,0,0.1 );
				display: grid;
				grid-template-columns: 10rem 4rem auto;
				grid-gap: 20px;
				justify-content: start;

				input {
					width: 3rem;
				}

				&:nth-child(even) {
					background: rgba(255,255,255,0.1);
				}

				button {
					justify-self: center;
				}

			}
		}
	}

	.characters,
	.monsters-npcs {
		display: grid;
		align-self: start;

		.character-edit {
			display: grid;
			grid-template-columns: 5fr repeat( 4, 1fr );
			grid-gap: 10px;
			align-items: start;

			.hp-input {
				width: 4rem;
			}

			.character-initiative {
				width: 3rem;
			}

			.character-dex {
				width: auto;
			}

			input {
				// Hide the number input arrows in firefox.
				&[type="number"] {
					-moz-appearance: textfield;
				}

				// Hide the number input arrows in chrome, safari, edge & opera.
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}

		button {
			justify-self: end;
		}

		ul {
			display: grid;
			grid-gap: 10px;
			grid-template-columns: 1fr;
			grid-auto-flow: row;

			li {
				display: grid;
				grid-template-columns: 125px 1fr auto auto auto;
				grid-gap: 10px;
				align-items: start;

				&.character-single {
					grid-template-columns: 4rem auto auto 5rem 7rem;
				}


			}
		}
	}

	.characters {
		grid-area: characters;
	}

	.monsters-npcs {
		grid-area: monsters;
	}

	#save-fields {
		grid-area: save;
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-areas: "description button";

		p {
			grid-area: description;
			margin: 0;
			grid-column-start: 1;
		}

		button {
			grid-area: button;
			grid-column-start: -1;
			align-self: center;
		}
	}

	.hp-update-msg {
		color: $green;
		font-style: italic;

		&.nothing {
			color: $yellow;
			font-style: normal;
		}

		&.damaged {
			color: $red;
			font-style: italic;
		}

		&.died {
			color: $brown;
			font-style: italic;
		}

		&.healed {
			color: $green;
			font-style: italic;
		}
	}
}
