body {
	background: $black;
	color: $white;
	font-family: $body;

	a.fork-me-on-github {
		position: absolute;
		top: 0;
		right: 0;
	}
}

header {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	margin-bottom: 2em;

	a {
		text-decoration: none;
		color: $white;
		border-bottom: 1px solid transparent;

		&:hover,
		&:active {
			border-bottom: 1px dotted $white;
		}
	}

}

h1 {
	@include heading(h1);
}

h2 {
	@include heading(h2);
}

input {
	background-color: rgba( 0, 0, 0, 0.2 );
	border: 0;
	padding: 5px;
	font-size: 0.9rem;
	color: $white;

	// Hide the number input arrows in firefox.
	&[type="number"] {
		-moz-appearance: textfield;
	}

	// Hide the number input arrows in chrome, safari, edge & opera.
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&:disabled {
		background-color: rgba( 255, 255, 255, 0.1 );
	}
}

ul {
	list-style: none;
	padding: 0;
}

span.hp-label {
	font-family: $heading;
	line-height: 2em;
}

.hidden {
	display: none !important;
}
