body {
	background: $black;
	color: $white;
	font-family: $body;
}

header {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

h1 {
	@include heading(h1);
}

h2 {
	@include heading(h2);
}

input {
	background-color: rgba( 0, 0, 0, 0.2 );
	border: 0;
	padding: 5px;
	font-size: 0.9rem;
	color: $white;

	&:disabled {
		background-color: rgba( 255, 255, 255, 0.1 );
	}

	// Hide the number input arrows in firefox.
	&[type="number"] {
		-moz-appearance: textfield;
	}

	// Hide the number input arrows in chrome, safari, edge & opera.
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

ul {
	list-style: none;
	padding: 0;
}