/**
 * Colors
 *
 * Acronymn 8 Palette
 * https://lospec.com/palette-list/acronym-8
 */
$black: #2d2c3b;
$white: #f3f2e8;
$blue: #3368dc;
$green: #40a07c;
$lightblue: #70ddd7;
$red: #b73241;
$brown: #b06f6b;
$yellow: #dcc484;

/**
 * Fonts
 */
$title: 'Uncial Antiqua', Georgia, cursive;
$heading: 'Cinzel Decorative', Georgia, cursive;
$body: 'Palanquin', 'Open Sans', sans-serif;