@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|Palanquin:100|Uncial+Antiqua&display=swap");
/**
 * Colors
 *
 * Acronymn 8 Palette
 * https://lospec.com/palette-list/acronym-8
 */
/**
 * Fonts
 */
/**
 * Headings
 *
 * Returns the appropriate font family and styles for headings.
 *
 * @param string $level The heading level. Currently supports h1, h2
 */
body {
  background: #2d2c3b;
  color: #f3f2e8;
  font-family: "Palanquin", "Open Sans", sans-serif; }

header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; }

h1 {
  font-family: "Uncial Antiqua", Georgia, cursive;
  font-weight: 300; }

h2 {
  font-family: "Cinzel Decorative", Georgia, cursive; }

input {
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  padding: 5px;
  font-size: 0.9rem;
  color: #f3f2e8; }
  input[type="number"] {
    -moz-appearance: textfield; }
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  input:disabled {
    background-color: rgba(255, 255, 255, 0.1); }

ul {
  list-style: none;
  padding: 0; }

span.hp-label {
  font-family: "Cinzel Decorative", Georgia, cursive;
  line-height: 2em; }

button {
  background: #dcc484;
  font-size: 1rem;
  border: 0;
  padding: 3px 10px;
  font-family: "Cinzel Decorative", Georgia, cursive;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
  button:hover:not(:disabled) {
    background: #70ddd7;
    cursor: pointer; }

.battle-tracker {
  margin: 0 auto;
  max-width: 80%;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "characters monsters" "save save";
  grid-template-columns: 1fr 1fr; }
  .battle-tracker .characters,
  .battle-tracker .monsters-npcs {
    display: grid;
    align-self: start; }
    .battle-tracker .characters .character-edit,
    .battle-tracker .monsters-npcs .character-edit {
      display: grid;
      grid-template-columns: 5fr repeat(4, 1fr);
      grid-gap: 10px;
      align-items: start; }
      .battle-tracker .characters .character-edit .hp-input,
      .battle-tracker .monsters-npcs .character-edit .hp-input {
        width: 4rem; }
      .battle-tracker .characters .character-edit .character-initiative,
      .battle-tracker .monsters-npcs .character-edit .character-initiative {
        width: 3rem; }
      .battle-tracker .characters .character-edit .character-dex,
      .battle-tracker .monsters-npcs .character-edit .character-dex {
        width: auto; }
    .battle-tracker .characters button,
    .battle-tracker .monsters-npcs button {
      justify-self: end; }
    .battle-tracker .characters ul,
    .battle-tracker .monsters-npcs ul {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      margin-bottom: 30px; }
      .battle-tracker .characters ul li,
      .battle-tracker .monsters-npcs ul li {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-gap: 10px;
        align-items: start;
        padding: 8px 3px 0;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "details hp damage" "message message message"; }
        .battle-tracker .characters ul li:nth-child(even),
        .battle-tracker .monsters-npcs ul li:nth-child(even) {
          background: rgba(255, 255, 255, 0.1); }
        .battle-tracker .characters ul li .character-details,
        .battle-tracker .monsters-npcs ul li .character-details {
          grid-area: details;
          align-self: center; }
        .battle-tracker .characters ul li .character-hp,
        .battle-tracker .monsters-npcs ul li .character-hp {
          grid-area: hp;
          align-self: center; }
        .battle-tracker .characters ul li .record-damage,
        .battle-tracker .monsters-npcs ul li .record-damage {
          grid-area: damage;
          display: grid;
          grid-gap: 10px;
          grid-template-columns: 4rem auto;
          align-self: center; }
          .battle-tracker .characters ul li .record-damage button,
          .battle-tracker .monsters-npcs ul li .record-damage button {
            font-size: 0.8rem;
            justify-self: center; }
        .battle-tracker .characters ul li .hp-update-msg,
        .battle-tracker .monsters-npcs ul li .hp-update-msg {
          grid-area: message;
          color: #40a07c; }
          .battle-tracker .characters ul li .hp-update-msg .emoji,
          .battle-tracker .monsters-npcs ul li .hp-update-msg .emoji {
            padding-right: 0.5rem; }
          .battle-tracker .characters ul li .hp-update-msg .revived,
          .battle-tracker .monsters-npcs ul li .hp-update-msg .revived {
            color: #3368dc;
            font-style: italic; }
          .battle-tracker .characters ul li .hp-update-msg .nothing,
          .battle-tracker .monsters-npcs ul li .hp-update-msg .nothing {
            color: #dcc484;
            font-style: normal; }
          .battle-tracker .characters ul li .hp-update-msg .damaged,
          .battle-tracker .monsters-npcs ul li .hp-update-msg .damaged {
            color: #b73241;
            font-style: italic; }
          .battle-tracker .characters ul li .hp-update-msg .died,
          .battle-tracker .monsters-npcs ul li .hp-update-msg .died {
            color: #b06f6b;
            font-style: italic; }
          .battle-tracker .characters ul li .hp-update-msg .healed,
          .battle-tracker .monsters-npcs ul li .hp-update-msg .healed {
            color: #40a07c;
            font-style: italic; }
  .battle-tracker .characters {
    grid-area: characters; }
  .battle-tracker .monsters-npcs {
    grid-area: monsters; }
  .battle-tracker #save-fields {
    grid-area: save;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "description button"; }
    .battle-tracker #save-fields p {
      grid-area: description;
      margin: 0;
      grid-column-start: 1; }
    .battle-tracker #save-fields button {
      grid-area: button;
      grid-column-start: -1;
      align-self: center; }
